@font-face {
    font-family: 'CSfont';
    src: url('Ailerons-Typeface.otf') format('opentype');
    /* You can also include other font formats (e.g., woff, woff2) for better browser compatibility */
}

@font-face {
    font-family: 'CSfont2';
    src: url('Urbanist-VariableFont_wght.ttf') format('opentype');
    /* You can also include other font formats (e.g., woff, woff2) for better browser compatibility */
}

@font-face {
    font-family: 'CSfont3';
    src: url('kincrev-l3rpg.otf') format('opentype');
    /* You can also include other font formats (e.g., woff, woff2) for better browser compatibility */
}

body {
    font-family: 'CSfont2', ExtraLight;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0f0f0e;
}



.container, .container_heading, .container_2, .container_1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.container_title {
    display: flex;
    padding: 20px;
    max-width: 1200px;
    justify-content: space-between;
    align-items: start;
}

header {
    background: #0d0d0c;
    color: #fff;
    text-align: start;
}

header h1 {
    margin: 0;
    font-family: 'CSfont', Typeface;
    font-size: 2rem;
}

header p {
    margin: 5px 0;
    font-size: 1rem; /* Adjusted font size */
}

nav {
    background: #a9a8a6;
}

nav a.active {
    border-bottom: 2px solid #000; /* Underline style for active link */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-size: 1.2rem;
}

#banner img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}

section {
    margin: 0px 0;
}

h2 {
    color: #333;
    font-family: 'CSfont3';
    font-size: 2rem;
}

.portfolio-item {
    margin-bottom: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
    display: block;
}

.portfolio-item h3 {
    margin: 20px 0 10px;
    font-family: 'CSfont2', ExtraLight;
    font-size: 1.5rem;
}

.portfolio-item p {
    margin: 0;
    padding: 0 20px 20px;
}

footer {
    background: #0e0e0e;
    color: #fff;
    font-family: 'CSfont2', ExtraLight;
    text-align: center;
    padding: 20px 0;
}

header h3 {
    background: url('texture.jpg') repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'CSfont2', ExtraLight;
    -webkit-text-fill-color: transparent;
    color: transparent;
    margin: 0;
    font-size: 2rem;
}

body, h1, h2, p, footer p {
    color: #ffffff;
}

.visit-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    background-color: #252525c5;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.visit-button:hover {
    background-color: #252525c5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons {
    padding-top: 10px;
    display: flex;
    align-items: center;
    gap: 15px; /* Adjust the spacing between icons */
}

.social-icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

@media only screen and (max-width: 768px) {
    header {
        flex-direction: row;
        align-items: flex-start;
    }

    .social-icons {
        margin-top: 10px;
    }

    header h1 {
        font-size: 1.5rem; /* Adjusted font size for mobile */
    }

    header p {
        font-size: 0.8rem; /* Adjusted font size for mobile */
    }

    nav a {
        font-size: 1rem; /* Adjusted font size for mobile */
    }

    h2 {
        font-size: 1.5rem; /* Adjusted font size for mobile */
    }

    .portfolio-item h3 {
        font-size: 1.2rem; /* Adjusted font size for mobile */
    }
}


